annotated-doc==0.0.4
certifi==2026.5.20
charset-normalizer==3.4.7
click==8.3.3
colorama==0.4.6
idna==3.15
jaraco.classes==3.4.0
jaraco.context==6.1.2
jaraco.functools==4.4.0
keyring==25.7.0
markdown-it-py==4.0.0
mdurl==0.1.2
more-itertools==11.0.2
numpy==2.4.4
pandas==3.0.2
Pygments==2.20.0
python-dateutil==2.9.0.post0
pywin32-ctypes==0.2.3
requests==2.34.2
rich==15.0.0
shellingham==1.5.4
six==1.17.0
typer==0.25.1
tzdata==2026.2
urllib3==2.7.0